<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>itnuke</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
    ================================================== -->
    <link rel="icon" href="/img/favicon/favicon-32x32.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-54x54.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- CSS
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="/css/prettyPhoto.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/css/cd-hero.css">
    <!-- Style Swicther -->
    <link id="style-switch" href="/css/presets/preset3.css" media="screen" rel="stylesheet" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>

    <![endif]-->
    <style>
        .navbar-brand.navbar-bg {
            background: none;
        }

        .cd-hero-slider {
            height: 310px;
        }
    </style>

    <script>

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds){
                    break;
                }
            }
        }


        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test( $email );
        }

        function validatePhone(txtPhone) {
            var a = txtPhone;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                return true;
            }
            else {
                return false;
            }
        }

        $(document).ready(function () {
            $('#acceptOffer').prop('disabled', true);

            $('#name').change(function () {

                if ($('#name').val().length === 0)
                {
                    $('#name').css('border-color', 'red');    $('#acceptOffer').prop('disabled', true);
                }
                else {
                    $('#name').css('border-color', '');   $('#acceptOffer').prop('disabled', false);
                }
            });

            $('#email').change(function () {
                if( !validateEmail($('#email').val()) ||$('#email').val().length === 0 ) {
                    $('#email').css('border-color', 'red');    $('#acceptOffer').prop('disabled', true);
                }
                else {
                    $('#email').css('border-color', '');   $('#acceptOffer').prop('disabled', false);
                }
            });

            $('#phone').change(function () {
                if (!validatePhone($('#phone').val()) || $('#phone').val().length === 0) {
                    $('#phone').css('border-color', 'red');   $('#acceptOffer').prop('disabled', true);
                }
                else {
                    $('#phone').css('border-color', '');  $('#acceptOffer').prop('disabled', false);
                }
            });


            $('#category').change(function () {

                if ($('#category').val().length === 0)
                {
                    $('#category').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#category').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#technology').change(function () {

                if ($('#technology').val().length === 0)
                {
                    $('#technology').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#technology').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#price').change(function () {

                if ($('#price').val().length === 0)
                {
                    $('#price').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#price').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#time').change(function () {

                if ($('#time').val().length === 0)
                {
                    $('#time').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#time').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#scope').change(function () {

                if ($('#scope').val().length === 0)
                {
                    $('#scope').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#scope').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#skills').change(function () {

                if ($('#skills').val().length === 0)
                {
                    $('#skills').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#skills').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#desc').change(function () {

                if ($('#desc').val().length === 0)
                {
                    $('#desc').css('border-color', 'red');
                    $('#create').prop('disabled', true);
                }
                else {
                    $('#desc').css('border-color', '');
                    $('#create').prop('disabled', false);
                }
            });

            $('#acceptOffer').click(function () {
                $('#confirmModal').modal('hide');
                window.setTimeout(function () {

                    $( "#formularz" ).submit();
                    $("#donePopup").modal();
                }, 900);

            })

        });
    </script>
</head>

<body>

<div class="modal" id="donePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    Zlecenie opublikowane. Potwierdzenie wysłane na Twój adres e-mail.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="doneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>don</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  >Accept the offer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potwierdź stworzenie zlecenia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>*Klikając akceptuj zadanie potwierdzam, że:<br>- posiadam odpowiednią kwote do zapłacenia za
                        zlecenie <br> - akceptuje ryzyko projektowe.</p>
                </div>

            </div>
            <div class="modal-footer">
                <input type="hidden" value="{{ app.request.get('id') }}" id="postId">
                <button type="button" class="btn btn-danger" id="acceptOffer">Stwórz zlecenie</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Style switcher start -->
<div class="style-switch-wrapper">
    <div class="style-switch-button">
        <i class="fa fa-sliders"></i>
    </div>
    <h3>Style Options</h3>
    <button id="preset1" class="btn btn-sm btn-primary"></button>
    <button id="preset2" class="btn btn-sm btn-primary"></button>
    <button id="preset3" class="btn btn-sm btn-primary"></button>
    <button id="preset4" class="btn btn-sm btn-primary"></button>
    <button id="preset5" class="btn btn-sm btn-primary"></button>
    <button id="preset6" class="btn btn-sm btn-primary"></button>
    <br/><br/>
    <a class="btn btn-sm btn-primary close-styler pull-right">Close X</a>
</div>
<!-- Style switcher end -->

<div class="body-inner">

    <!-- Header start -->
    <header id="header" class="navbar-fixed-top header" role="banner">
        <div class="container">
            <div class="row">
                <!-- Logo start -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-bg">
                        <a href="http://itnuke.pl">
                            <img class="img-responsive" src="/images/polisoft.png" >

                        </a>

                    </div>
                    <br>
                    <br>
                    <br>

                </div><!--/ Logo end -->

            </div><!--/ Row end -->
            <h2 style="color:white;">Zleć prace.</h2>


            <span class="fa fa-star" style="color: black;"></span>
            <span class="fa fa-star" style="color: black;"></span>
            </h4>


        </div><!--/ Container end -->
    </header><!--/ Header end -->

    <!-- Slider start -->
    <section id="home" class="no-padding">
        <div id="main-slide" class="cd-hero">

            <ul class="cd-hero-slider">
                <li class="selected">
                    <div class="overlay2">
                        <img class="" src="/images/slider/bg1.jpg" alt="slider">
                    </div>

                </li>
                <li>
                    <div class="overlay2">

                        <img class="" src="/images/slider/bg2.jpg" alt="slider">
                    </div>
                    <div class="cd-half-width">
                        <h2>How Big Can You Dream?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                        <a href="#0" class="cd-btn btn btn-primary solid">Take a Tour</a>
                    </div> <!-- .cd-half-width -->

                    <div class="cd-half-width cd-img-container">

                        <img src="/images/slider/bg-thumb1.png" alt="">
                    </div> <!-- .cd-half-width.cd-img-container -->
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="/images/slider/bg3.jpg" alt="slider">
                    </div>
                    <div class="cd-half-width cd-img-container img-right">
                        <img src="/images/slider/bg-thumb2.png" alt="">
                    </div> <!-- .cd-half-width.cd-img-container -->
                    <div class="cd-half-width">
                        <h2>Your Challenge is Our Progress</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                        <a href="#0" class="cd-btn btn btn-primary white">Start</a>
                        <a href="#0" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                    </div> <!-- .cd-half-width -->
                </li>
                <li class="cd-bg-video">
                    <div class="cd-full-width">
                        <h2>WE ARE HERE TO MAKE IT HAPPEN</h2>
                        <h3>We Making Difference To Great Things Possible</h3>

                        <a href="#0" class="cd-btn btn btn-primary solid">Learn more</a>
                    </div> <!-- .cd-full-width -->

                    <div class="cd-bg-video-wrapper" data-video="videos/video">
                        <!-- video element will be loaded using jQuery -->
                    </div> <!-- .cd-bg-video-wrapper -->
                </li>
            </ul> <!--/ cd-hero-slider -->

        </div><!--/ Main slider end -->
    </section> <!--/ Slider end -->


    <!-- Service box start -->
    <section id="service" class="service angle">
        <br>
        <div class="container" style="background-color: black; color: white;">
            <form action="/create" id="formularz" method="post" enctype="multipart/form-data">
                <br>
            <div class="form-group row">
                <div class="col-md-4 mb-3">

                    <div class="input-group">
                        <label for="cars">Kategoria:</label>
                        <div class="input-group">

                            <select class="form-select" style="color:white; background-color: black" name="category">
                                <option value="programowanie">programowanie</option>
                                <option value="grafika">grafika</option>
                                <option value="sprzet">sprzet</option>
                                <option value="wsparcie">wsparcie</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">Technologia</label>
                    <div class="input-group">
                        <input type="text"  style="color: white;" size="50"class="form-control" name="technology" placeholder="" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">Cena w PLN</label>
                    <div class="input-group">
                        <input type="text"   style="color: white;"  size="50" style="color: grey;" class="form-control" name="price" placeholder="" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">Szacowany czas</label>
                    <div class="input-group">
                        <input type="text"   size="50" style="color: white;" class="form-control" name="time" placeholder="" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">Zakres</label>
                    <div class="input-group">
                        <input type="text"  size="50"   style="color: white;" class="form-control" name="scope" placeholder="" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">Wymagane umiejętnośći</label>
                    <div class="input-group">
                        <input type="text"  size="50"  style="color: white;" class="form-control is-invalid" name="skills" placeholder="" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>


                <div class="col-md-4 mb-3">

                    <div class="input-group">
                        <label for="exampleFormControlInput1">Lokalizacja</label>
                        <input type="text" size="50" class="form-control"  style="color: white;" name="location" id="location"  placeholder="">
                    </div>
                </div>
                <div class="col-md-4 mb-3">

                    <div class="input-group">
                        <label for="exampleFormControlInput1">Imię i Nazwisko</label>
                        <input type="text" size="50" class="form-control"  style="color: white;" name="name" id="name"  placeholder="">
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <label for="exampleFormControlInput1">Adres email</label>
                        <input type="text" size="50" class="form-control"  style="color: white;" id="email" name="email" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <label for="exampleFormControlInput1">Telefon razem z prefiksem kraju (np. 48603203021)</label>
                        <input type="number"  style="color: white;"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  class="form-control" id="phone" style="color: grey;" name="phone" placeholder="">

                    </div>
                </div>
            </div>


                <div class="form-group mb-5">
                <label for="exampleFormControlTextarea1" class="">Opis zadania</label>
                <textarea  style="color: white;" class="form-control rounded-0" id="description" name="description" rows="50"></textarea>
            </div>

            <div class="form-group mb-5">
                <label for="myfile">Dodaj zalącznik:</label>
                <input type="file" id="file" name="file">
            </div>

            <button class="btn btn-light">back</button>
            <button class="btn btn-danger" data-toggle="modal" id="create" data-target="#confirmModal">stworz</button>

            </form>
            <br>

        </div>
        <br>

</div>
</section><!--/ Service box end -->




<!-- Copyright start -->
<section id="copyright" class="copyright angle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-social unstyled">
                    <li>
                        <a title="Facebook" href="https://www.facebook.com/profile.php?id=100091602414192">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a title="linkedin" href="https://www.linkedin.com/in/hubert-pomorski-637067273/">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a title="linkedin" href="https://www.instagram.com/itnuke.pl/">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-instagram"></i></span>
                        </a>
                        <a title="linkedin" href="https://www.youtube.com/@hubertpomorski8049">
                            <span class="icon-pentagon wow bounceIn"><i class="fa fa-youtube"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/ Row end -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright-info">
                    &copy; 2023 <span>itnuke.pl wszystkie prawa zastrzezone.</a></span>
                </div>
            </div>
        </div><!--/ Row end -->
        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
        </div>
    </div><!--/ Container end -->
</section><!--/ Copyright end -->

<!-- Javascript Files
================================================== -->

<!-- initialize jQuery Library -->
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Style Switcher -->
<script type="text/javascript" src="/js/style-switcher.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<!-- PrettyPhoto -->
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<!-- Bxslider -->
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<!-- CD Hero slider -->
<script type="text/javascript" src="/js/cd-hero.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/ini.isotope.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="/js/wow.min.js"></script>
<!-- SmoothScroll -->
<script type="text/javascript" src="/js/smoothscroll.js"></script>
<!-- Eeasing -->
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<!-- Counter -->
<script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script type="text/javascript" src="/js/waypoints.min.js"></script>
<!-- Template custom -->
<script type="text/javascript" src="/js/custom.js"></script>
</div><!-- Body inner end -->
</body>
</html>